*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(180deg,#000000 7.03%,#C6A147);
    color: #FAF3E1;
    background-attachment: fixed;
    height: 100vh;
}

#navbar{
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1030;
}
.nav-item .nav-link:hover {
    color:#C6A147 !important;
    text-decoration: underline !important ;
    text-underline-offset: 6px !important;
}
.navbar-brand img{
    height: 63px;
    width: 63px;
    border-radius: 50%;
}
.navbar-brand{
    margin-right: 4rem !important;
    margin-left: 4rem !important;
}
.navbar-nav {
    margin-left: 0;
    margin-right: 0;
    gap: 3rem;
}
.navbar-collapse {
    width: 100%;
}
.nav-link{
    color: #FAF3E1 !important;
}
.navbar-brand span {
    color: #C6A147 !important;
  
}
.btn-outline-warning {
    color: #FAF3E1 !important;
    border-color: #C6A147 !important;
}
.btn-outline-warning:hover {
    background-color: #C6A147 !important;
    
}
