/* General Reset */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: monospace;
  gap: 16px;
  background: linear-gradient(180deg, #000000 7.03%, #C6A147 100%);
  color:#FAF3E1
}

/* Box Styling */
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 450px;
  margin: 16px;
  padding: 16px;
  gap: 64px;
  background-color: lightgrey;
  border-radius: 16px;
}

/* Description Section */
.description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 32px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.highlight {
  color: #9B2226; /* Adjust as needed */
}

.subtitle {
  font-size: 1.125rem;
}

/* Button Styling */
button {
  font-family: inherit;
  font-size: 18px;
  background: #FAF3E1;
  color: #FAA307;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  width: 50%;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

button:hover svg {
  transform: rotate(45deg);
}


/* Logo Styling */
.logo {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
