.highlight {
    color: var(--mecmun-accent);
}

.floaty {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.fancy-button {
    font-family: inherit;
    font-size: 18px;
    background: var(--mecmun-white);
    color: var(--mecmun-gold);
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    width: 50%;
}

.fancy-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.fancy-button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.fancy-button img {
    fill: var(--mecmun-gold);
}

.fancy-button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

.fancy-button:hover img {
    transition: all 0.3s;
    transform: rotate(45deg);
}

/* From Uiverse.io by gharsh11032000 */ 
.fun-button {
    padding: 0.5rem 1rem;
    color: var(--mecmun-gold);
    border: 2px solid var(--mecmun-gold);
    border-radius: 2rem;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.fun-button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--mecmun-gold);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.fun-button:hover::before {
    scale: 3;  
}

.fun-button:hover {
    color: #212121;
    scale: 1.1;
    border-color: transparent;
}

.fun-button:active {
    scale: 1;
}


