.highlight {
    color: var(--mecmun-accent);
}

.fancy-button {
    font-family: inherit;
    font-size: 18px;
    background: var(--mecmun-white);
    color: var(--mecmun-gold);
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    width: 50%;
}

.fancy-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.fancy-button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.fancy-button img {
    fill: var(--mecmun-gold);
}

.fancy-button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

.fancy-button:hover img {
    transition: all 0.3s;
    transform: rotate(45deg);
}