.events {
    text-align: center;
    padding: 20px;
}

.events .page-title {
    font-size: 5rem;
    color: var(--mecmun-gold);
    margin-bottom: 20px;
}

/* Featured Event Box */
.events .featured-event {
    background-color: #333;
    color: var(--mecmun-white);
    border: 2px solid var(--mecmun-gold);
    border-radius: 10px;
    margin: 0 auto 40px;
    padding: 40px;
    ;
    max-width: 95%;
    font-size: 5.rem;
}

/* Carousel Styling */
.events .carousel-container {
    position: relative;
    padding-top: 6%;
    width: 90%;
    margin: 0 auto;
}

.events .carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    font-size: 2rem;
    /* Matches the featured event box */
    height: 300px;
    position: relative;
}

.events .carousel-item {
    flex: 0 0 100%;
    display: none;
    /* Hide all items initially */
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #444;
    color: var(--mecmun-white);
    transition: opacity 0.5s ease;
}

.events .carousel-item.active {
    display: flex;
    /* Only the active item is visible */
    opacity: 1;
}

.events #event-1 {
    background: url("images/IMG_8909.jpg") center/cover no-repeat;
}

.events #event-2 {
    background: url("images/IMG_8940.jpg") center/cover no-repeat;
}

.events #event-3 {
    background: url("images/IMG_8978.jpg") center/cover no-repeat;
}

.events #event-4 {
    background: url("images/IMG_8917.jpg") center/cover no-repeat;
}

/* Dots */
.events .carousel-dots {
    margin-top: 20px;
    text-align: center;
}

.events .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 8px;
    background-color: #444;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.events .dot.active {
    background-color: var(--mecmun-gold);
}