* {
    --mecmun-white: #faf3e1;
    /* --mecmun-gold: #c6a147; */
    --mecmun-gold: #d2a636;
    --mecmun-gold-shiny: hsl(43, 98%, 56%);
    --mecmun-black: #000000;
    --mecmun-accent: #9b2226;

    --navbar-height: 6rem;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    background: linear-gradient(180deg, #000000 0%, #222222 100%);
    background-attachment: fixed;
    
    font-family: "Montserrat";
}

a {
    color: var(--mecmun-white);
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.page {
    color: var(--mecmun-white);
    min-height: 100vh;

    box-sizing: border-box;

    margin: 0 3rem;
    /* Extra 2 rem is only neede if there is an (important-message) */
    padding-top: calc(var(--navbar-height) + 2rem) !important;
}

nav ul {
    list-style-type: none;
}