* {
    --mecmun-white: #faf3e1;
    --mecmun-gold: #c6a147;
    --mecmun-gold-shiny: hsl(43, 98%, 56%);
    --mecmun-black: #000000;
    --mecmun-accent: #9b2226;

    /* box-sizing: border-box; */
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    background: linear-gradient(180deg, var(--mecmun-black) 0%, var(--mecmun-gold) 100%);
    background-attachment: fixed;
    
    font-family: monospace;
}

a {
    color: var(--mecmun-white);
    text-decoration: none;
}

.page {
    color: var(--mecmun-white);
    min-height: calc(100vh - 6rem);

    margin: 2rem 0;
}

nav ul {
    list-style-type: none;
}