

.imagepage .carousel-heading {
    text-align: center;
    font-size: 5rem;
    color: var(--mecmun-gold);
}
.imagepage .carousel {
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1500px;
}

.imagepage .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
    width: 100%;
    height: 100%;
}

.imagepage .carousel-image {
    position: absolute;
    width: 70%;  /* Reduced image width */
    height: 70%; /* Reduced image height */
    object-fit: cover;
    opacity: 0.6;
    transition: opacity 0.5s, transform 0.5s ease-in-out;
    left: 15%;  /* Center the images with slight overlap */
    margin-top: 20px;
    z-index: 1;  /* Set the default z-index to 1 */
}

.imagepage .carousel-image.active {
    opacity: 1;
    transform: scale(1) translateZ(0);
    z-index: 10;  /* Active image stays on top */
}

.imagepage .carousel-image.prev {
    opacity: 0.8;
    transform: scale(0.8) translateX(-50%) translateY(30px);  /* Spread to the left */
    z-index: 5;  /* Behind the active image */
}

.imagepage .carousel-image.next {
    opacity: 0.8;
    transform: scale(0.8) translateX(50%) translateY(30px);  /* Spread to the right */
    z-index: 5;  /* Behind the active image */
}

.imagepage .carousel-controls {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    z-index: 10;
}

.imagepage .carousel-control {
    background-color: var(--mecmun-gold);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
}

.imagepage .carousel-control:hover {
    background-color:var(--mecmun-gold);
}

.imagepage .carousel-controls .carousel-control#nextBtn {
    transform: translateX(-50px);
}

.imagepage .carousel-controls .carousel-control#prevBtn {
    transform: translateX(50px);  /* Reduced the translateX value to bring buttons closer */
}
.imagepage .carousel-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform:  translateY(-90px) translateX(-50%);
    display: flex;
    gap: 10px;
}

.imagepage .carousel-indicator-dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 8px;
    background-color: #444;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.imagepage .carousel-indicator-dot.active {
    background-color: var(--mecmun-gold);
}
