.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 16px;
    color: var(--mecmun-white);
}

.landing .social-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    margin: 16px;
    padding: 4rem 16px;
    gap: 4rem;
    background-color: var(--mecmun-white);
    border-radius: 2rem;
}

.landing .description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 32px;
}

.landing .description .title {
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.landing .description .subtitle {
    font-size: 1.125rem;
}

.landing .logo {
    width: 17rem;
}