.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: monospace;
    gap: 16px;
    color: #FAF3E1
}

.landing .social-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    margin: 16px;
    padding: 16px;
    gap: 64px;
    background-color: lightgrey;
    border-radius: 16px;
}

.landing .description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 32px;
}

.landing .description .title {
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.landing .description .subtitle {
    font-size: 1.125rem;
}

.landing .logo {
    width: 17rem;
}