.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    color: var(--mecmun-white);
    margin: 0;
}

.landing .social-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    margin: 16px;
    padding: 4rem 16px;
    gap: 4rem;
    background-color: var(--mecmun-white);
    border-radius: 2rem;
}

.landing .description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 1rem;
}

.landing .description .title {
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    margin: 0;
}

.landing .description .subtitle {
    font-size: 1.125rem;
}

.landing .logo {
    width: 17rem;
}

.landing .social-box .gmail:hover {
    content: url(./../icons/gmail_color.svg);
}

.landing .social-box .linkedin:hover {
    content: url(./../icons/linkedin_color.svg);
}

.landing .social-box .instagram:hover {
    content: url(./../icons/instagram_color.svg);
}